#container {
    height: 100vh;
    border: 3px solid black;

    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 3px solid blue;
    box-sizing: border-box;
}

.basis {
    flex-basis: 25%;
}
